//.color1 { #985F99 };
// .color2 { #EEC8E0 };
// .color3 { #0B3C49 };
// .color4 { #2EC0F9 };
// .color5 { #67AAF9 };

* {
  margin: 0;
  padding: 0;
}

body {
  background: #985f99;
  color: white;
}

h1 {
  text-align: center;
  margin: 35px;
}

ul {
  list-style-type: none;
}

.main {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  background: #eec8e0;

  width: 500px;
  position: relative;
}

.card {
  display: grid;
  grid-template-columns: 10fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;

  color: black;
  background: white;

  font-size: 15px;
  width: 300px;
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
}

.btn {
  background-color: #67aaf9;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.button-1:focus {
  background-color: #f082ac;
}

.add-task {
  margin-top: 30px;
}

.close-card {
  background: none;
  border: none;

  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
}

.arrow-up {
  cursor: pointer;
}

.close-task {
  background: none;
  border: none;

  cursor: pointer;
}

.add-card {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #555;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
